.card{
  width:252px;
  height:369px;
  margin: 45px 0;
  padding: 10px;
  outline-offset: 5px;
  outline: #ffffff solid 1px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    img{ 
        position: relative;
        top: -50px;
        padding-top: 10px;
        border-top: 1px solid #ffffff;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .title{
        font-size: 18px;
        line-height: 21.09px;
        color: #ffffff;
        text-align: center;
        position: relative;
        top: -20px;
      }
}